{% extends 'base.html' %}
{% block content %}

<div class=" flex flex-col px-6 text-center h-screen items-center justify-center bg-[#ecf0f3]">
    <div class="inline-block p-6 shadow-[8px_8px_8px_#c5c5c5,inset_-8px_-8px_8px_#ffffff] mb-5">
        <h1 class="text-4xl md:text-6xl lg:text-7xl font-bold mb-4">
            Dear {{user}}
            <span class="block text-gradient">Welcome.</span>
        </h1>
    </div>
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <div class="flex justify-center items-center gap-4">
            <button type="submit" class="shadow-[inset_6px_6px_12px_#c5c5c5,inset_-6px_-6px_12px_#ffffff] py-[0.7em] px-[1.7em] text-[#090909] text-[18px]  border-[#e8e8e8] border-solid cursor-pointer">Logout</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock content %}