<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label>Username</label><br>
            {{ form.username }}
        </div>
        <div>
            <label>Password</label><br>
            {{ form.password }}
        </div>

        {% if form.errors %}
            {{ form.errors }}
        {% endif %}

        <button type="submit">Login</button>
    </form>
</body>

</html>