{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Sign Up</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>Username</label><br>
            {{ form.username }}
        </div>
        <div>
            <label>Email</label><br>
            {{ form.email }}
        </div>
        <div>
            <label>Password</label><br>
            {{ form.password1 }}
        </div>
        <div>
            <label>Confirm Password</label><br>
            {{ form.password2 }}
        </div>

        {% if form.errors %}
        {{ form.errors }}
        {% endif %}

        <button type="submit">Register</button>
    </form>
</div>
<p>Click <a href="{% url 'login' %}">here</a> to login</p>
{% endblock content %}